{% extends "base.html" %}

{% block main_block %}

<div class="container rounded about-block float-container" style="margin-left: 4vw; max-width: 100%; height: 78.5vh;">
    <div class="float-container float-child" style="margin-left: 100px; margin-top: 10px; height: 74vh; background-color: #1a1c28">
        <div class="rounded float-child" style="width: 100%; background-color: #212838">
            <p class="about-text" style="font-weight: bold; font-size: 24px;">My Professional Journey</p>
            <p class="about-text">As a dedicated software developer on the path to completing my bachelor's degree in Computer Science with a minor in Information Technology, I am committed to excellence in every project I undertake.</p>
            <p class="about-text">My journey in the realm of technology has been a rewarding one, filled with challenges that have shaped my skills and honed my abilities to deliver high-quality solutions.</p>
            <p class="about-text">Embracing the ever-evolving landscape of information technology, I strive to stay at the forefront of innovation, ready to adapt and grow alongside this dynamic field.</p>
        </div>
        <div class="rounded float-child" style="width: 100%; margin-top: 10px; background-color: #212838">
            <p class="about-text" style="font-weight: bold; font-size: 24px;">My Technical Experience</p>
            <p class="about-text">Elkhart Community High School: Working as a level 1 service technician. Assisted students and staff with various different technical issues. Managed iPads using the Jamf MDM.</p>
            <p class="about-text">Office of Information Technology, Indiana State University: Worked as a Level 2 service technician. Assisted in mobile device management for Windows, Apple and Android devices, Using Intune and Jamf.</p>
            <p class="about-text"><b>MapleTronics Computers (PRESENT):</b> Working as a Level 2 service technician as an escalation for technical service teams. Assisting clients in day to day technology issues along with networking and business infrastructure tasks.</p>
        </div>
    </div>
    <div class="rounded float-child" style="width: 545px; background-color: #1a1c28; margin-left: 100px; margin-top: 10px;">
        <img style="height: 70vh;" src="/images/about/me">
    </div>
</div>

{% endblock %}

{% block block2 %}
<br>
{% endblock %}

{% block block3 %}
<br>
{% endblock %}